@model List<dhiraj.Models.Table_1>
@{
    ViewBag.Title = "index1";
    int sn = 0;
}

<style>
    table {
        background-color: black;
        color: white;
    }
</style>
<a href="@Url.Action("dhiraj1")"> Add new record</a>
<h2> index</h2>
<table class="table" border="1">
    <tr>
        <th> ID</th>
        <th> Name</th>
        <th>Address</th>
        <th> contact</th>
        <th>Edit</th>

    </tr>
    @foreach (var data in Model)
    {
        <tr>
            <td>@(++sn) </td>
            <td>@(data.name) </td>
            <td>@(data.address) </td>
            <td>@(data.contact)</td>
            <td><a href="@Url.Action("edit1", new {id=data.id})">Edit<</a></td>
            
        </tr>
    }
</table>
